html {
  /*font-family: "Brush Script MT";*/
  font-size: 1rem;
  /*color: blue;*/
}
input, button {
  font-size: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  color: blue;
  /*font-family: "Brush Script MT";*/
  border: 1px solid lightgray;
}
h1, h2, h3, h4, h5 {
  /*font-family: "Brush Script MT";*/
}

.vbox {
  display: flex;
  flex-direction: column;
}
.vbox.center {
  align-items: center;
}
.hbox {
  display: flex;
  flex-direction: row;
}

.line {
  border: 0px solid red;
  width: 90%;
}
.line input {
  flex: 1;
  width: 5em;
  min-width: 2em;
}