html {
  font-family: "Brush Script MT";
  font-size: 2rem;
  color: blue;

}
input, button {
  font-size: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  color: blue;
  font-family: "Brush Script MT";
}
h1, h2, h3, h4, h5 {
  font-family: "Brush Script MT";
}

.vbox {
  display: flex;
  flex-direction: column;
}
.vbox.center {
  align-items: center;
}
.hbox {
  display: flex;
  flex-direction: row;
}