html {
  font-family: sans-serif;
  font-size: 2rem;
}
input, button {
  font-size: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
}

.vbox {
  display: flex;
  flex-direction: column;
}
.vbox.center {
  align-items: center;
}
.hbox {
  display: flex;
  flex-direction: row;
}